div[id^='anchor'] {
  width: 400px;
  margin: 50px;
}

.demo-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

body {
  font-family: -apple-system, Roboto, 'Segoe UI', sans-serif;
}
