.wrapper-slider {
  position: relative;

  &--horizontal {
    padding-top: 46px;
    padding-bottom: 30px;
  }
}

.scale {
  position: relative;

  &__value {
    position: absolute;
    font-family: monospace;
    font-weight: bold;
    color: #8a8faa;
    cursor: pointer;

    &:hover {
      color: lighten(#8a8faa, 10%);
    }
  }
}

.settings {
  display: flex;
  flex-direction: column;
  font-family: monospace;
  font-size: 16px;
  border: 2px dotted green;

  &__separation {
    height: 1px;
    background-color: green;
    margin: 5px;
  }

  &__label {
    margin: 2px 5px;
  }

  &__input {
    width: 90px;
    font-family: monospace;
  }
}

.slider {
  background-color: rgb(230, 230, 230);
  border-radius: 3px;

  &__tongue {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    z-index: -1;
  }

  &__bar {
    position: absolute;
    border-radius: 3px;
  }

  &__handle {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    cursor: pointer;
  }

  &__tip {
    display: inline-block;
    white-space: nowrap;
    color: white;
    font-weight: bold;
    border-radius: 3px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.2) 0 1px 3px;
    outline: none;
    cursor: default;

    &::before {
      content: attr(data-value);
    }

    &--extended {
      &::before {
        content: attr(data-extendedValue);
      }
    }
  }

  &--horizontal {
    height: 8px;

    .slider__bar {
      width: 150px;
      height: 8px;
      bottom: 30px;
    }
    .slider__handle {
      bottom: 23px;
      left: 135px;
    }
    .slider__tip {
      padding: 2px 5px;
      top: -33px;
      left: 50%;
      transform: translate(-50%);
    }
    .slider__tongue {
      bottom: -5px;
      left: 50%;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 14px solid inherit;
      transform: rotate(180deg) translate(50%);
    }
    .slider__scale {
      margin-top: 15px;
      position: absolute;
    }
  }

  &--vertical {
    height: 250px;
    width: 8px;

    .slider__bar {
      width: 8px;
      height: 150px;
      bottom: 0;
    }
    .slider__handle {
      bottom: 135px;
      left: -8px;
    }
    .slider__tip {
      padding: 2px 5px;
      top: 0;
      left: 40px;
    }
    .slider__tongue {
      left: -2%;
      top: 56%;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 14px solid inherit;
      transform: rotate(-90deg) translate(50%, -50%);
    }
    .slider__scale {
      position: absolute;
      bottom: 0;
      left: -30px;
    }
  }

  &--green & {
    &__bar {
      background-color: rgb(58, 190, 140);
    }
    &__handle {
      background-color: rgb(58, 190, 140);
    }
    &__tip {
      background-color: rgb(58, 190, 140);
    }
    &__tongue {
      border-bottom: 14px solid rgb(58, 190, 140);
    }
  }

  &--red & {
    &__bar {
      background-color: rgb(216, 77, 77);
    }
    &__handle {
      background-color: rgb(216, 77, 77);
    }
    &__tip {
      background-color: rgb(216, 77, 77);
    }
    &__tongue {
      border-bottom: 14px solid rgb(216, 77, 77);
    }
  }
}
